@tailwind base;
@tailwind components;
@tailwind utilities;



body{
    overflow-x: hidden;
}
/* .wholeSlider {
    margin-left: 0.2rem;
}

@media screen and (max-width: 1024px) {
    .wholeSlider {
        margin-left: 3.3rem;
    }
}

@media screen and (max-width: 375px) {
    .wholeSlider {
        margin-left: 1.3rem;
    }
} */
